head
    title ExpressExo
    link(rel='stylesheet', href='../stylesheets/style.css')
    link(rel='stylesheet', href='../stylesheets/chat.css')
    link(rel="stylesheet" href="../stylesheets/index.css")
    script(src="/javascripts/jquery-3.6.0.min.js")

