extends template/layout
block content  
    .bg-gray-500.shadow-md.rounded.px-8.pt-6.pb-8.mb-4.flex.flex-col
        .text-2xl(class='hover:text-sm')
            p=title 
        
        .mx-auto(class='sm:w-3/4 lg:w-2/4')
            .text-sm.font-light.uppercase.text-center.mb-8 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel turpis vel lacus lobortis ullamcorper. In eget blandit velit. Donec quis facilisis nulla. Vestibulum semper leo at ornare semper. Nullam cursus libero felis, vitae elementum ex elementum non. In hac habitasse platea dictumst. Phasellus quis auctor nibh.

                | Donec tristique tellus in lectus blandit, eget dictum diam egestas. Maecenas a ante ipsum. Mauris cursus aliquam semper. Donec aliquam nisi non nunc feugiat consectetur. Sed rutrum, ligula vitae ultrices rutrum, quam urna vehicula ligula, nec gravida dui dui sit amet mi. Vivamus ut consectetur leo. Aenean faucibus felis eros, sed eleifend nisl volutpat id.

                |   Nulla et posuere ipsum, vel congue orci. Integer tristique metus vel nibh maximus, sit amet placerat neque viverra. Maecenas interdum dolor eu imperdiet sagittis. Mauris id purus a lectus dignissim ornare at eu nibh. Aliquam vestibulum velit at molestie finibus. Suspendisse pellentesque aliquam neque, ullamcorper vehicula justo fermentum quis. Quisque risus tellus, feugiat ultrices commodo vitae, mollis id tortor. Cras ultricies odio tellus, quis dignissim lorem imperdiet ac. Nullam tempus tempus urna ac feugiat. Donec vitae urna elit. Aenean consectetur ullamcorper sapien eu posuere. Suspendisse dapibus sapien vitae sapien rutrum, et ultrices mi consequat. Maecenas bibendum odio vel erat efficitur tincidunt. Fusce blandit lorem non libero dapibus, ut ornare mi egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent varius eu velit sit amet vestibulum.

                | Mauris ullamcorper molestie ultricies. Nam sit amet ipsum sapien. Proin sit amet urna sit amet sem aliquam varius. Pellentesque cursus eu nisl vitae rutrum. Proin diam magna, imperdiet in neque quis, ultrices ultricies sem. Nullam lobortis diam sed porta sagittis. Cras at eros pharetra, euismod risus ut, consectetur purus.

                | Donec gravida a enim non hendrerit. Maecenas metus sapien, finibus nec viverra ac, viverra ut orci. Sed mattis, enim vitae porttitor malesuada, ipsum ipsum bibendum dolor, a bibendum massa tortor quis turpis. Vestibulum ut nisi id massa cursus tristique sed sed leo. Praesent urna libero, dapibus vel tempor sed, congue eu nunc. Duis sed lobortis mi. Sed tincidunt lacus ex, nec tempor dolor facilisis sit amet. Suspendisse placerat mattis nunc ac luctus. Vivamus arcu lorem, laoreet at varius ut, posuere in leo. Nullam egestas odio arcu, at sagittis ante sollicitudin in. Cras congue lacinia urna, eu mollis risus eleifend ut. Phasellus id nibh nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla sed ullamcorper lacus, eu maximus dui. Donec ultrices urna ac diam tempus, eu auctor quam dictum. Vivamus ex urna, molestie ut orci vel, condimentum maximus erat.

        