extends template/layout 
block content
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js')
    #chat-app
        #chat.has-text-centered
            section.section.chat-container
                .container
                    .columns
                        .box.column.is-8.is-offset-2
                            h2.title Chit#{title}
                            .chat-messages.has-text-left
                                ul#chat-messages
                            form
                                .field.has-addons
                                    p.control
                                        input(type='text', class='input', value='John Doe', id='name')
                                    p.control.is-expanded
                                        input(type='text', class='input', placeholder='Try it', id='message')
                                    p.control
                                        input(type='submit', class='button is-primary', method='POST')
    script.
        const socket = io();
        $('form').submit(function() {
          const name = $('#name').val();
          const message = $('#message').val();

          socket.emit('chatter', `${name} : ${message}`);
            $('#chat-messages').append($('<li>').text(message));
          $('#message').val('');
          return false; 
        });
        socket.on('chatter', function(message) {
            $('#chat-messages').append($('<li>').text(message));
        });

        
