extends template/layout
block content
  div.View.WelcomeView
    h1.Banner Welcome Page
    div.Message
      div.Title
        h3 Bienvenue sur #{title}
    div.NavButtons
      a(href="/user")
        div.NavButton Just dive in!

