doctype html
html(lang="en")
  include ../includes/head.pug
  body
    block navbar
      include ../includes/nav.pug
    block content
      yield
    block footer 
      include ../includes/footer.pug


    
      